<!DOCTYPE html>
<html data-ng-app="git.users-app">

<head>
    <meta charset="UTF-8">
    <title>GIT users app</title>
    <!--Styles-->
    <link rel="stylesheet" type="text/css" href="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <!--JS-->
    <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script data-require="angular-route@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular-route.js"></script>
    <!--App-->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/app.routes.js"></script>
    <script type="text/javascript" src="app/github-user/github-user.controller.js"></script>
    <script type="text/javascript" src="app/github-user/not-found.controller.js"></script>
    <script type="text/javascript" src="app/common/github.service.js"></script>
</head>

<body>
    <div class="views-wrapper" data-ng-view>
        <!-- Main page -->
        <script type="text/ng-template" id="main-page/main-page.tpl.html">
            <form>
                <input type="text" data-ng-model="username" placeholder="Enter user login">
                <button type="button" class="btn btn-success" data-ng-click="searchUser(username)">Search user</button>
            </form>
            <table class="table table-striped">
                <tr>
                    <th>User login</th>
                    <th>Username</th>
                    <th>Avatar</th>
                    <th>Location</th>
                    <th>Repos on github</th>
                </tr>
                <tr data-ng-repeat="user in users">
                    <td>{{user.login}}</td>
                    <td>{{user.name}}</td>
                    <td><img src="{{user.avatar_url}}" width="100"></td>
                    <td>{{user.location}}</td>
                    <td>{{user.public_repos}}</td>
                </tr>
            </table>
        </script>
        <!-- Not found page -->
        <script type="text/ng-template" id="not-found/not-found.tpl.html">
            <h3>It looks like user you are looking for doesn't exist. Check out if the username is correct or try to find someone else</h3>
            <div class="return-button">
                <a class="btn btn-info" href="#/">Return to main page</a>
            </div>
        </script>
    </div>
</body>

</html>
